name: Publish to PyPI

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v1

      - name: Sync dependencies
        run: uv sync --all-groups

      - name: Build wheel & sdist
        run: uv build --wheel --sdist

      - name: Inspect built METADATA
        run: unzip -p dist/*.whl */METADATA

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.1
        with:
          packages-dir: dist
          verbose: true
